---
import Section from "../Section.astro";

import { work } from "@cv";

let meses: string[] = [
    "Enero",
    "Febrero",
    "Marzo",
    "Abril",
    "Mayo",
    "Junio",
    "Julio",
    "Agosto",
    "Septiembre",
    "Octubre",
    "Noviembre",
    "Diciembre",
];
---

<Section title="Experiencia laboral">
    <ul class="relative border-s border-gray-200 dark:border-gray-700">
        {
            work.map(({name, position, startDate, endDate, summary}) => {
                let beginDate: Date = new Date(startDate);
                let finishDate: Date | undefined = endDate ? new Date(endDate) : undefined;
                let beginYear: number= beginDate.getFullYear();
                let beginMonth: string = meses[beginDate.getMonth()];

                let endYear = finishDate ? finishDate.getFullYear() : "Actualidad";
                let endPeriodo = finishDate ? `${meses[finishDate?.getMonth()]} - ${endYear}` : "Actualidad";
                return (
                    <li class="mb-10 ms-4">
                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700" />
                        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                            <span class="text-md font-bold"> {name} </span> <span class="text-xs">  ({beginMonth} {beginYear} - {endPeriodo}) </span>
                        </time>
                        <h3 class="text-md font-semibold text-gray-900">
                            {position}
                        </h3>
                        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                            {summary}
                        </p>
                    </li>
                );
            })
        }
    </ul>
</Section>
